.room-card {
  width: 300px !important;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;

  &--gameStarted{
    opacity:.3;
  }

  &__title{
    font-family: $montserrat-light;
  }  

  &__subcontainer {
    display: flex;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center !important;
  }

  &__size-label{
    font-size: 17px !important;
    margin-right: 5px;
    color: rgb(77, 74, 74);
    font-family: $voltaire;
    margin-bottom:8px;
  }

  &__size-label--full{
      background-color: rgb(202, 12, 12);
      padding: 0 5px;
      color: white;
      border-radius: 5px;
  }

  &__button {
    background-color: $color-accent--dark !important;
    margin-bottom: 10px;
    height: 30px !important;
    font-family: $montserrat;
  }
}
