$tablet:600px;
$tabletLarge:960px;
$desktop:1264px;


// mobile 0 - 600px
// width:40px;

// @media(min-width:$tablet)
// {
     //tablet 600 - 960px
// }

// @media(min-width:$tabletLarge)
// {
     //tablet 960 - 1264px
// }

// @media(min-width:$desktop)
// {
     //tablet 1264 - and beyond
// }

