@import "./fonts.scss";

$tablet:600px;
$tabletLarge:960px;
$desktop:1264px;


// mobile 0 - 600px
// width:40px;

// @media(min-width:$tablet)
// {
     //tablet 600 - 960px
// }

// @media(min-width:$tabletLarge)
// {
     //tablet 960 - 1264px
// }

// @media(min-width:$desktop)
// {
     //tablet 1264 - and beyond
// }


//colours
$color-accent:#BEE3DB;
$color-accent--dark:#89B0AE;
$color-black:#000;
$color-white:#fff;
$color-error: #ff5252;
$color-white-gradient:linear-gradient($color-accent,$color-white);

//typography
$montserrat:'Montserrat-Bold';
$voltaire:'Voltaire';

