.parallax {
    position: relative;
    -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
    filter: grayscale(30%);
    height: 350px !important;
  }
  
  .parallax__button {
    background-color: $color-accent--dark !important;
    font-family: $montserrat !important;
    color: white !important;
    position: absolute !important;
    top: 48px;
    right: 30px !important;
    border-radius: 19px !important;
    width: 160px !important;
    height: 40px !important;
    @media (min-width: $tabletLarge) {
      border-radius: 29px !important;
      top: 55px !important;
      right: 50px !important;
      font-size: 18px !important;
      height: 60px !important;
      width: 290px !important;
    }
  }
  