.rooms-page {
  background: $color-white-green-gradient !important;

  &__container {
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;
    justify-content: center;
    margin: 40px auto;
    overflow: hidden;
  }

  &__loader{
    color: $color-accent--dark; 
    margin: 50px auto;
  }
  
  &__button {
    background-color: $color-accent--dark !important;
    opacity: 0.8 !important;
    color: white !important;
    position: fixed !important;
    bottom: 50px !important;
    right: 50px !important;
    height: 70px !important;
    width: 70px !important;
    @media (max-width:$tablet){
        width: 40px !important;
        height: 50px !important;
        bottom: 20px !important;
        right: 20px !important;
        }
  }
}
