.inGame {
  background: $color-white; //browser fallback
  background: $color-white-gradient;
  min-height: 100vh;

  &__statusWrapper {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__roundWrapper {
    font-family: $voltaire;
    display: flex;
    flex-direction: column;
  }

  &__round {
    text-align: center;
  }

  &__mainCardWrapper {
    display: flex;
    justify-content: center;
  }

  &__chatButtonWrapper {
    position: absolute;
    margin-left: 77%;
  }

  &__cardCarouselWrapper {
    margin: 50px 0 0 0;

    @media (min-width: $desktop) {
      margin: 150px 0 0 0;
    }
  }

  &__userCarouselWrapper {
    margin: 30px 0 0 0;

    @media (min-width: $desktop) {
      margin: 70px 0 0 0;
    }
  }

  &__chatNotification {
    width: 16px;
    height: 16px;
    background: $color-accent--dark;
    font-family: $montserrat;
    font-size: 13px;
    line-height: 16px;
    margin-top: -10px;
    position: relative;
    border-radius: 50%;
    text-align: center;
  }

  &__animation{
    opacity: 0;
    font-family: $montserrat;
    position: absolute;
    transform: rotate(30deg);
    &--round{
      margin-left: 25%;
        &:nth-child(1){
          font-size: 50px;
          margin-left: 17%;
        }
        &:nth-child(2){
          font-size: 17px;
          margin-left: 51%;
        }
        &:nth-child(3){
          font-size: 40px;
          margin-left: 68%;
        }
    }
  }
}

.chat {
  background: linear-gradient(to bottom right, $color-base, $color-accent);
  opacity: .9;

  &__message-wrapper {
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    border-bottom: 1px solid $color-accent--dark;
  }

  &__user {
    color: $color-accent--dark;
    font-family: $montserrat;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
  }

  &__message {
    display: block;
    font-family: $montserrat-light;
  }

  &__input{
    font-family: $montserrat-light;
      width:70%;
  }
}


//fugly
 .chat {
  @media (min-width: $tablet) {
    width: 400px!important;
  }

  @media (min-width: $desktop) {
    width: 600px!important;
  }



  &__submit{
    height: 100%!important;
}

  .v-input__slot
  {
    margin:0;
  }

  .v-text-field__details
  {
    display: none;
  }

  .v-navigation-drawer__append{
    display: flex;
  }

}