.inGame {
  background: $color-white; //browser fallback
  background: $color-white-gradient;
  min-height: 100vh;

  &__statusWrapper {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__roundWrapper {
    font-family: $voltaire;
    display: flex;
    flex-direction: column;
  }

  &__round{
    text-align: center;
  }

  &__mainCardWrapper {
    display: flex;
    justify-content: center;
  }

  &__chatButtonWrapper {
    position: absolute;
    margin-left: 77%;
  }

  &__cardCarouselWrapper{
    margin:50px 0 0 0;

    @media (min-width:$desktop) {
    margin:150px 0 0 0;
    }
  }


  &__userCarouselWrapper{
    margin:30px 0 0 0;

    @media (min-width:$desktop) {
    margin:70px 0 0 0;
    }
  }

  &__chatNotification {
    width: 16px;
    height: 16px;
    background:$color-accent--dark;
    font-family: $montserrat;
    font-size: 13px;
    line-height: 16px;
    margin-top:-10px;
    position: relative;
    border-radius: 50%;
    text-align: center;
  }


}
