.inGame {
  background: $color-white; //browser fallback
  background: $color-white-gradient;
  min-height: 100vh;

  &__statusWrapper {
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__roundWrapper {
    font-family: $voltaire;
    display: flex;
    flex-direction: column;
  }

  &__mainCardWrapper {
    display: flex;
    justify-content: center;
  }

  &__chatButtonWrapper {
    position: absolute;
    margin-left: 77%;
  }

  &__chatNotification {
    width: 16px;
    height: 16px;
    background:$color-accent--dark;
    font-family: $montserrat;
    font-size: 13px;
    line-height: 16px;
    margin-top:-10px;
    position: relative;
    border-radius: 50%;
  }
}

.inGameUser {
  &__wrapper {
    display: flex;
  }

  &__image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid $color-white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

    &--czar {
      border: 5px solid $color-black;
    }
  }
  &__AttributeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $voltaire;
  }

  &__isCzar {
    font-size: 11px;
  }

  &__points {
    font-size: 13px;
  }
}
