.login
{
    background: $color-accent;
    min-height:100vh;
    display: flex;
    flex-direction: column;

    &__title{
        font-size: 15px;
        font-family: $montserrat;
    }

    &__subTitle{
        font-size: 15px;
        font-family: $voltaire;
    }
}